---
import { Link, ResponsiveImage } from '@components'
import { CloudinaryImage } from '@content'

export interface Props {
  title: string
  excerpt: string
  image?: CloudinaryImage<'square'>
  href: string
}

const { excerpt, href, title, image } = Astro.props
---

<Link
  href={href}
  className="bg-white shadow-md relative flex hover:shadow-lg transition-shadow duration-300"
>
  {
    image && (
      <div class="w-32 shrink-0">
        <ResponsiveImage src={image.square} className="object-cover h-full w-full object-center" />
      </div>
    )
  }
  <div class="pt-6 pb-4 px-4">
    <h3 class="font-semibold mb-2">{title}</h3>
    {excerpt && <div class="mb-4 text-sm" set:html={excerpt} />}
  </div>
</Link>
