---
import { PageLayout } from '@layouts'
---

<PageLayout title="404 - Page Not Found">
  <div class="text-center max-w-4xl mx-auto py-40 px-8">
    <h1 class="text-5xl md:text-7xl mb-6 md:mb-12 font-bold text-slate-400">Page Not Found</h1>
    <p class="text-lg md:text-2xl">This page does not exist.</p>
  </div>
</PageLayout>
