---
import { a } from '@/.netlify/functions-internal/chunks/astro.683f67a6.mjs'
import { getTours } from '@content'
import Layout from '@layouts/Layout.astro'

export async function getStaticPaths() {
  const toursEntries = await getTours()
  return toursEntries.map((tour) => ({
    params: { slug: tour.slug },
    props: { tour },
  }))
}

const { tour } = Astro.props
---

<Layout title={tour.title}>
  <h1>MAP VIEW: {tour.title}</h1>

  <a href={tour.urlPath}>Detail View</a>
</Layout>
