---
import 'mapbox-gl/dist/mapbox-gl.css'

import { getTours, Tour } from '@content'
import { MapLayout } from '@layouts'
import { PageHeader } from '@components'

export async function getStaticPaths() {
  const toursEntries = await getTours()
  return toursEntries.map((tour) => ({
    params: { slug: tour.slug },
    props: { tour },
  }))
}

const tour = Astro.props.tour as Tour

console.log(tour.buildings[0])
---

<MapLayout title={tour.title}>
  <PageHeader title={tour.title} image={tour.image} size={'md'} />

  <div class="hidden" id="building-data">
    [{tour.buildings.map((building) => JSON.stringify(building.mapMarker)).join(',')}]
  </div>

  <div id="map-container" class="w-screen h-[calc(100vh-15rem)]"></div>

  <script>
    import mapboxgl from 'mapbox-gl'

    mapboxgl.accessToken = import.meta.env.PUBLIC_MAPBOX_TOKEN

    const map = new mapboxgl.Map({
      container: 'map-container',
      style: `mapbox://styles/${import.meta.env.PUBLIC_MAPBOX_STYLE}`,
      center: [-84.512, 39.1031],
      zoom: 12,
    })

    const buildingData = JSON.parse(document.getElementById('building-data').innerHTML)

    var bounds = new mapboxgl.LngLatBounds()

    buildingData.forEach((building) => {
      const el = document.createElement('div')
      el.className = 'building-marker cursor-pointer'
      el.style.backgroundColor = '#3D3935'
      el.style.width = '1.5rem'
      el.style.height = '1.5rem'
      el.style.borderRadius = '50%'
      el.style.border = '.2rem solid white'

      new mapboxgl.Marker(el).setLngLat(building.geometry.coordinates).addTo(map)

      bounds.extend(building.geometry.coordinates)

      el.addEventListener('click', () => {
        // Remove highlight from all buildings
        document.querySelectorAll('.building-marker').forEach((el: HTMLDivElement) => {
          el.style.backgroundColor = '#3D3935'
        })
        // Highlight the active building
        el.style.backgroundColor = '#799A05'
      })
    })

    map.fitBounds(bounds, { padding: 50 })
  </script>
</MapLayout>
