---
import { getTours } from '@content'
import { Layout } from '@layouts'

export async function getStaticPaths() {
  const toursEntries = await getTours()
  return toursEntries.map((tour) => ({
    params: { slug: tour.slug },
    props: { tour },
  }))
}

const { tour } = Astro.props
---

<Layout title={tour.title}>
  <h1>MAP VIEW: {tour.title}</h1>

  <a href={tour.urlPath}>Detail View</a>
</Layout>
