---
import 'mapbox-gl/dist/mapbox-gl.css'

import { getTours, Tour } from '@content'
import { PageLayout } from '@layouts'

export async function getStaticPaths() {
  const toursEntries = await getTours()
  return toursEntries.map((tour) => ({
    params: { slug: tour.slug },
    props: { tour },
  }))
}

const tour = Astro.props.tour as Tour
---

<PageLayout title={tour.title}>
  <h1>MAP VIEW: {tour.title}</h1>

  <a href={tour.urlPath}>Detail View</a>

  <div id="map-container" class="w-[400px] h-[400px]"></div>
</PageLayout>

<script>
  import mapboxgl from 'mapbox-gl'

  mapboxgl.accessToken = import.meta.env.PUBLIC_MAPBOX_TOKEN

  const map = new mapboxgl.Map({
    container: 'map-container',
    style: `mapbox://styles/${import.meta.env.PUBLIC_MAPBOX_STYLE}`,
    center: [-74.5, 40],
    zoom: 9,
  })
</script>
