---
import 'mapbox-gl/dist/mapbox-gl.css'

import { getTours, Tour } from '@content'
import { MapLayout } from '@layouts'
import { PageHeader } from '@components'

export async function getStaticPaths() {
  const toursEntries = await getTours()
  return toursEntries.map((tour) => ({
    params: { slug: tour.slug },
    props: { tour },
  }))
}

const tour = Astro.props.tour as Tour
---

<MapLayout title={tour.title}>
  <PageHeader title={tour.title} image={tour.image} size={'md'} />

  <div id="map-container" class="w-screen h-[calc(100vh-15rem)]"></div>

  <script>
    import mapboxgl from 'mapbox-gl'

    mapboxgl.accessToken = import.meta.env.PUBLIC_MAPBOX_TOKEN

    const map = new mapboxgl.Map({
      container: 'map-container',
      style: `mapbox://styles/${import.meta.env.PUBLIC_MAPBOX_STYLE}`,
      center: [-74.5, 40],
      zoom: 9,
    })
  </script>
</MapLayout>
