---
import 'mapbox-gl/dist/mapbox-gl.css'

import { getTours, Tour } from '@content'
import { MapLayout } from '@layouts'
import { Icon, PageHeader } from '@components'

export async function getStaticPaths() {
  const toursEntries = await getTours()
  return toursEntries.map((tour) => ({
    params: { slug: tour.slug },
    props: { tour },
  }))
}

const tour = Astro.props.tour as Tour

console.log(tour.buildings[0])
---

<MapLayout title={tour.title}>
  <PageHeader title={tour.title} image={tour.image} size={'md'} />

  <div class="hidden" id="building-data">
    [{tour.buildings.map((building) => JSON.stringify(building.mapMarker)).join(',')}]
  </div>

  <div
    class="fixed right-[-30rem] bg-white w-[24rem] max-w-[75%] h-[calc(100vh-15rem)] z-10 transition-all duration-300"
    id="drawer"
  >
    <button class="absolute w-6 left-4 top-4 text-white" id="drawer-close-trigger">
      <Icon name="cancel" />
    </button>
    <img class="w-full" id="drawer-image" src="" />
    <div class="px-4 py-6">
      <h2 class="text-2xl font-black mb-3" id="drawer-title"></h2>
      <p class="mb-6" id="drawer-excerpt"></p>
      <a class="pb-2 border-b border-b-black inline-block" id="drawer-link" href="">
        <span class="flex items-center space-x-2">
          <span>Learn Details</span>
          <span class="block w-4"><Icon name={'arrow-right'} /></span>
        </span>
      </a>
    </div>
  </div>

  <div id="map-container" class="w-screen h-[calc(100vh-15rem)]"></div>

  <script>
    import mapboxgl from 'mapbox-gl'

    mapboxgl.accessToken = import.meta.env.PUBLIC_MAPBOX_TOKEN

    const map = new mapboxgl.Map({
      container: 'map-container',
      style: `mapbox://styles/${import.meta.env.PUBLIC_MAPBOX_STYLE}`,
      center: [-84.512, 39.1031],
      zoom: 12,
    })

    // Building data is text embedded in a hidden div in the DOM
    const buildingData = JSON.parse(document.getElementById('building-data').innerHTML)
    // Drawer element ref that slides in and out
    const drawer = document.getElementById('drawer')

    var bounds = new mapboxgl.LngLatBounds()

    const drawerCloseClass = 'right-[-30rem]'
    const drawerOpenClass = 'right-0'

    function removeActiveMarker() {
      document.querySelectorAll('.building-marker').forEach((el: HTMLDivElement) => {
        el.style.backgroundColor = '#3D3935'
      })
    }

    function openDrawer() {
      drawer.classList.add(drawerOpenClass)
      drawer.classList.remove(drawerCloseClass)
    }

    function closeDrawer() {
      removeActiveMarker()
      drawer.classList.add(drawerCloseClass)
      drawer.classList.remove(drawerOpenClass)
    }

    buildingData.forEach((building) => {
      const el = document.createElement('div')
      el.className = 'building-marker cursor-pointer'
      el.style.backgroundColor = '#3D3935'
      el.style.width = '1.5rem'
      el.style.height = '1.5rem'
      el.style.borderRadius = '50%'
      el.style.border = '.2rem solid white'

      new mapboxgl.Marker(el).setLngLat(building.geometry.coordinates).addTo(map)

      bounds.extend(building.geometry.coordinates)

      el.addEventListener('click', (event) => {
        event.stopPropagation()
        // Remove highlight from all buildings
        removeActiveMarker()
        // Highlight the active building
        el.style.backgroundColor = '#799A05'
        // Slide in the drawer
        openDrawer()
        // Add info to the drawer
        const drawerImg = document.getElementById('drawer-image') as HTMLImageElement
        drawerImg.src = building.properties.image.square.small
        document.getElementById('drawer-title').innerHTML = building.properties.title
        document.getElementById('drawer-excerpt').innerHTML = building.properties.excerpt.raw || ''
        document.getElementById('drawer-link').setAttribute('href', building.properties.urlPath)
      })
    })

    map.fitBounds(bounds, { padding: 50 })

    map.on('click', closeDrawer)
    document.getElementById('drawer-close-trigger').addEventListener('click', closeDrawer)
  </script>
</MapLayout>
