---
import { Icon, IconProps } from '@components'

export interface Props {
  theme?: 'warning' | 'error' | 'default'
  label: string
  icon?: IconProps['name']
  className?: string
}

const props = Astro.props as Props

const themeClassMap: Record<Props['theme'], string> = {
  default: 'text-black bg-gray-200',
  warning: 'text-black bg-yellow-400',
  error: 'text-white bg-red-700',
}
---

<div class={props.className}>
  <span
    class={`inline-flex space-x-1 items-center py-1 px-3 rounded-sm text-xs font-semibold ${
      themeClassMap[props.theme || 'default']
    }`}
  >
    {
      props.icon && (
        <span class="block w-3">
          <Icon name={props.icon} />
        </span>
      )
    }
    <span>
      {props.label}
    </span>
  </span>
</div>
