---
export interface Props {
  href: string
}

const { href } = Astro.props
---

<a
  class="bg-primary-500 text-white py-3 px-8 hover:opacity-90 duration-300 transition-all"
  href={href}
>
  <slot />
</a>
