---
import { Icon, IconProps } from '@components'

export interface Props {
  href: string
  size?: 'medium' | 'large'
  theme?: 'primary' | 'secondary'
  outline?: boolean
  icon?: IconProps & { position: 'left' | 'right' }
}

const { href, size = 'medium', theme = 'primary', outline = false, icon } = Astro.props

let themeClasses = {
  primary:
    'bg-primary-500 border-primary-500 text-white hover:bg-primary-600 hover:border-primary-600',
  secondary:
    'bg-secondary-500 border-secondary-500 text-white hover:bg-secondary-600 hover:border-secondary-600',
}[theme]

if (outline) {
  themeClasses = {
    primary:
      'border-primary-500 text-primary-500 hover:bg-primary-600 hover:border-primary-600 hover:text-white',
    secondary:
      'border-secondary-500 text-secondary-500 hover:bg-secondary-600 hover:border-secondary-600 hover:text-white',
  }[theme]
}

let sizeClasses = {
  medium: 'py-3 px-8 text-lg',
  large: 'py-4 px-10 text-lg',
}[size]

const iconSizeClasses = {
  medium: 'w-4',
  large: 'w-5',
}[size]
---

<a
  class={`border-2 hover:opacity-90 duration-300 transition-all flex items-center justify-center space-x-3 ${themeClasses} ${sizeClasses} ${
    icon?.position === 'right' ? 'flex-row-reverse space-x-reverse' : ''
  }`}
  href={href}
>
  {
    icon && (
      <span class={`block ${iconSizeClasses}`}>
        <Icon {...icon} />
      </span>
    )
  }
  <span>
    <slot />
  </span>
</a>
