---
export interface Props {
  draft: boolean
  errors?: string[]
}

const props = Astro.props as Props

const themeClasses = props.draft
  ? 'text-yellow-500 border-yellow-500'
  : 'text-red-500 border-red-500'
---

{
  props.errors?.length > 0 && (
    <div class="absolute top-2 right-0 px-2">
      <div
        class={`rounded-full border-2 text-xs font-semibold w-6 h-6 flex justify-center items-center ${themeClasses}`}
      >
        {props.errors.length}
      </div>
    </div>
  )
}
