---
import Button from '@components/Button.astro'
import HeaderLink from '@components/HeaderLink.astro'
import Icon from '@components/Icon.astro'
import Logo from '@components/Logo.astro'
---

<header class="max-w-7xl mx-auto px-4 py-6">
  <div class="flex justify-between items-center">
    <div class="flex flex-col">
      <a
        class="flex space-x-2 items-center mb-4 text-secondary-500 text-xs font-semibold"
        href="https://www.designlearnandbuild.org/"
      >
        <span class="block w-3"><Icon name="arrow-left" /></span>
        <span>Back to Site</span>
      </a>
      <a class="inline-block w-48" href="/">
        <Logo />
      </a>
    </div>
    <div class="flex space-x-6 justify-between items-center">
      <HeaderLink href="/buildings">Building List</HeaderLink>
      <HeaderLink href="/tours">Walking Tours</HeaderLink>
      <Button href="https://www.designlearnandbuild.org/donate">Donate</Button>
    </div>
  </div>
</header>
