---
import Button from '@components/Button.astro'
import HeaderLink from '@components/HeaderLink.astro'
import Logo from '@components/Logo.astro'
---

<header class="max-w-7xl mx-auto px-4 py-6">
  <div class="flex justify-between items-center">
    <span class="inline-block w-48">
      <Logo />
    </span>
    <div class="flex space-x-6 justify-between items-center">
      <HeaderLink href="/buildings">Building List</HeaderLink>
      <HeaderLink href="/tours">Walking Tours</HeaderLink>
      <Button href="https://www.designlearnandbuild.org/donate">Donate</Button>
    </div>
  </div>
</header>
