---
import { Icon, IconProps } from '@components'

export interface Props {
  href: string
  className?: string
  id?: string
  hideExternalIcon?: boolean
  icons?: Array<IconProps & { position: 'left' | 'right'; className?: string }>
}

const { href, hideExternalIcon, className, id = '', icons = [] } = Astro.props as Props

const defaultClassName = 'text-primary-500 border-b border-b-primary-500 inline-block leading-4'

let target = '_self'
let rel = ''

if (!href.startsWith('/')) {
  icons.push({
    name: 'link-external',
    position: 'right',
  })
  target = '_blank'
  rel = 'noopener noreferrer'
}
---

<a href={href} class={className || defaultClassName} id={id} target={target} rel={rel}>
  {
    hideExternalIcon ? (
      <slot />
    ) : (
      <span class="flex items-center space-x-2">
        {icons
          .filter((icon) => icon.position === 'left')
          .map((icon) => (
            <span class={icon.className || 'block w-3'}>
              <Icon {...icon} />
            </span>
          ))}
        <span>
          <slot />
        </span>
        {icons
          .filter((icon) => icon.position === 'right')
          .map((icon) => (
            <span class={icon.className || 'block w-3'}>
              <Icon {...icon} />
            </span>
          ))}
      </span>
    )
  }
</a>
