---
import { getCollection } from 'astro:content'

import Layout from '@layouts/Layout.astro'

export async function getStaticPaths() {
  const toursEntries = await getCollection('tours')
  return toursEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title={entry.data.title}>
  <h1>{entry.data.title}</h1>

  <a href={`/tours/${entry.slug}/map`}>Map View</a>

  <Content />
</Layout>
