---
import { getCollection } from 'astro:content'

import Layout from '@layouts/Layout.astro'

const toursEntries = await getCollection('tours')
---

<Layout>
  <h1>Tours</h1>

  <ul>
    {
      toursEntries.map((tour) => (
        <li>
          <a href={`/tours/${tour.slug}`}>{tour.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
