---
import type { Annotation } from '@/content/utils/annotations';
import { Callout } from '@components';
import { getBuildings, getTours } from '@content';

export interface Props {
  title: string;
  bodyClasses?: string;
  bodyAnnotations?: Annotation;
}

declare global {
  interface Window {
    dataLayer: any[];
  }
}

const { title, bodyClasses, bodyAnnotations = {} } = Astro.props as Props;

const buildings = await getBuildings();
const tours = await getTours();

const invalidObjects = [buildings, tours]
  .flat()
  .filter((item) => item.validation_errors?.length > 0 && !item.draft);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />

    {/* Fonts */}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    {/* Meta */}
    <title>{title} | Design LAB</title>

    {/* Google Analytics */}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1H47D8H6C2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      const gtag: Gtag.Gtag = function () {
        window.dataLayer.push(arguments);
      };
      gtag('js', new Date());

      gtag('config', import.meta.env.GOOGLE_ANALYTICS_ID);
    </script>
  </head>
  <body class={bodyClasses} {...bodyAnnotations}>
    {
      invalidObjects.length > 0 && (
        <Callout icon={{ name: 'alert' }} theme={'error'}>
          <p class="mb-2">The following items must be fixed before publishing:</p>
          <ul class="ml-4 list-disc">
            {invalidObjects.map((obj) => (
              <li class="mb-2">
                <a href={obj.url_path} class="underline">
                  {obj.title || obj._id}
                </a>
              </li>
            ))}
          </ul>
        </Callout>
      )
    }
    <slot />
  </body>
</html>

<style is:global>
  svg {
    @apply h-auto
      w-full;
  }
</style>
