---
import Logo from '@components/Logo.astro'
---

<header class="max-w-7xl mx-auto px-4 py-6">
  <div class="flex justify-between items-center">
    <span class="inline-block w-48">
      <Logo />
    </span>
    <div class="flex space-x-6">
      <a href="/buildings">Buildings</a>
      <a href="/tours">Tours</a>
    </div>
  </div>
</header>
